
@font-face {
    font-family: 'museo_slab500';
    src: url('/fonts/Museo_Slab_500_2-webfont.eot');
    src: url('/fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('/fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('/fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('/fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans500';
    src: url('/fonts/MuseoSans_500-webfont.eot');
    src: url('/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('/fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('/fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "museo_sans500", sans-serif;
  font-size: 14pt;
  text-align: justify;
  text-justify: inter-word;
  padding: 1em;
  background: url("/images/background.jpg");
  color: #3D3123;
}

h1, h2, h3 {
  font-weight: bold;
  font-family: "museo_slab500", sans-serif;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 260%;
  text-align: center;
}
h1:first-child { margin-top: 0.2em; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.sheet {
  width: 520px;
  margin: 1em auto;
  padding: 20px;
  background: url("/images/cream.jpg");
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
