<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css" />
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
  </head>

  <body>
    <div class="main">
      <h1><a href="/">{{ page.title }}</a></h1>
      <nav>
        <a href="/">Jepsen</a>
        <a href="/contact.html">Contact</a>
        <a href="/ethics.html">Ethics</a>
      </nav>
      <div class="sheet">
        {{ content }}
      </div>
    </div>
  </body>
</html>
